@use "../variables/colors";
@use "../mixins/nav" as navmix;

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  & h1 {
    font-size: 3em;
    height: 1.5em;
    color: colors.$dark-text;
  }
  & nav {
    & a {
      text-decoration: none;
      color: colors.$dark-text;
      margin-right: 1em;
      &:hover::after {
        @include navmix.nav-styling;
        background-color: colors.$nonactive-link;
      }
    }
    & a:first-child {
      &::after {
        @include navmix.nav-styling;
        background-color: colors.$active-link;
      }
    }
    & i {
      color: colors.$dark-text;
    }
  }
}
