@use "../variables/spaces";


@mixin zoom-animation {
    background-position: center;
    padding: 4em;
    border-radius: spaces.$card-border-radius;
    background-size: 100%;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-size: 110%;
    }
}